body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;

}

* {
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0 0 0 80px;
}

.first-page {
  background-color: #86c3d7;
  position: relative;
}

.first-page::before {
  content:""; 
  background-image:url(./img/view.png);
  position: absolute;
  width: 512px;
  height: 648px; 
  margin-left: 700px;

}




.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 80px;

 
}

.menu {
  width: 634px;
}

.menu__list {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contacts {
  width: 162px;
  text-align: right;
}

.contacts__phone {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;

}

.contacts__phone::before {
  content: "";
  background-image: url(./icons/phone_.png);
  display: block;
  position: absolute;
  width: 12px;
  height: 11px;
  margin-top: 10px;
}

.cta {
  margin-top: 80px;
  
}
.cta__title {
  width: 323px;

  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.cta__text {
  width: 341px;
  margin-top: 23px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
}

.button {
  margin-top: 32px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 30px;
  color: #365a49;
  font-family: "Alegreya Sans - Extra Bold";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 156px;
  min-height: 58px;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 62px;
}


.description__list {
  list-style: none;
  display: flex;
  padding:0 ;
}
 .description {
  width: 465px;
  margin-bottom: 46px;
 }

.container {
  display: flex;
  justify-content: space-between; 
}

.description__points {
  display: flex;
  justify-content:space-between; 
  padding-right: 46px;
}

.description__img {
  padding-right: 10px;
}

.description__points--bonus {
  padding-right:0 ;
 
}

.description__text--bonus {
  width: 66px;
  
}

.description__text {
  color: #ffffff;
font-family: "Alegreya Sans";
font-size: 16px;
font-weight: 400;
}

.image-chocco {
  position: relative;
  margin-top: -30px;
}


.image-chocco::after {
  content:"";
  position: absolute;
  background-image: url(./img/leaf-one.png);
  width: 236px;
  height: 203px;
  left: 0;
  margin-top: 300px;
  margin-left: 270px;
} 


.pagination__item {
  color: #ffffff;
 
   
}


   
