.chocco {
  width: 100%;
  background: url(../img/chocco-menu.png) no-repeat;
  background-size:cover; 
  position: relative;

  &::after {
    content:"";
    position: absolute;
    width: 6.5rem;
    height: 7.125rem;
    background-image:url(./../img/raspberry-team.png);
    left: 2.5rem;
    top: -3.75rem; 
  }

}

.chocco__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  
}


.chocco__accordeon {
  margin-left:auto ;
}


.chocco__accordeon-item {
  display: flex;
}

.chocco__title {
  position: absolute; 
  padding-left: 2.5rem;
  padding-top: 6.1875rem;
}



.chocco__accordeon-list {
  display: flex;
  padding: 0rem;
  margin-top: 0rem;
  min-height: 40.625rem;
  height: 100vh;
   

}

.chocco__accordeon-item-title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: inline-block;
  

}

.chocco__accordeon-item-btn {
  position: relative;
  border: none;
  min-width: 6.25rem;
  min-height: 40.625rem;
  height: 100vh;
}

.chocco__accordeon-item-btn--milk {
  background: url(../item/milk.png)no-repeat;
  background-size:cover;

  &::after {
    position: absolute;
    content: "";
    background-color: #333537;
    min-width: 6.25rem;
    min-height: 40.625rem;
    height: 100%;
    opacity: 0.4;
    top: 0rem;
    left: 0rem;
    
  }
}


.chocco__accordeon-item-btn--honey {
  background: url(../item/honey.png) no-repeat;
  background-size:cover;
 

  &::after {
    position: absolute;
    content: "";
    background-color: #333537;
    min-width: 6.25rem;
    min-height: 40.625rem;
    height: 100%;
    opacity: 0.4;
    top: 0rem;
    left: 0rem;
  }
}

.chocco__accordeon-item-btn--berries {
  background: url(../item/berries.png) no-repeat;
  background-size:cover;
  

  &::after {
    position: absolute;
    content: "";
    background-color: #333537;
    min-width: 6.25rem;
    min-height: 40.625rem;
    height: 100%;
    opacity: 0.4;
    top: 0rem;
    left: 0rem;
    
  }

}


.chocco__accordeon-item-title {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
}


.chocco__accordeon-item.active {
  .chocco__accordeon-item-content {
    width: 33.125rem;
    height: 100%;
  }

}

.close-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 3%;

  &:hover {
    .close-btn__icon {
      fill: white;
    }
  }
}

.close-btn__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #c2c3c4;
  transition: fill .2s;
}

.chocco__accordeon-item-content {
  max-width: 33.125rem;
  font-size: 1rem;
  position: relative;
  width: 0;
  overflow: hidden;
  background-color: rgb(51, 53, 55, .9);
}

 .chocco__accordeon-item-text {
  height: 100%;
  max-width: 77%;
  padding-top: 3.125rem;
  padding-left: 1.875rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height:1.4375rem;
  color: #ffffff;
}
