.contacts {
  width: 182px;
  text-align: right;
}

.contacts__phone {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right:20px ;

}

.phone-number__icon--header {
  fill: #ffffff;
}