.hero__description-list {
  list-style: none;
  display: flex;
  justify-content:space-between;
  padding: 0;
}

.hero__description {
 
  
}


.hero__description-points {
  display: flex;
  justify-content: space-between;
  width:calc(100%/3 - 29px) ;
  margin-right:44px ;
  margin-top: 56px;
  

  & + .hero__description-points--bonus {
    margin-right: 0;
  }  
}


.hero__description-img {
  margin-right: 10px;
}


.hero__description-text {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400;
}



.hero__title {
  margin-top:12px; 
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
