.first-page {
  background-color: #86c3d7;
  position: relative;
  background-image: url(./../img/view.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 112px;
    background: url(./../img/leaf-three.png) no-repeat;
    left: 12%;
    top: 92%;
  }
}