.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:0.9375rem;  


  @media (max-width: 768px) {
  .contacts {
    display: none;
  }
}
}   

.hamburger {
  display: none;
  background-color: #86c3d7;
}

.hamburger__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

@media (max-width: 768px) {
  .phone-number {
    display: none;
  }

  .hamburger {
    display: initial;

    @include phones {
      display: initial;

    }
  }
}

