.container--hero {
  height: 100%;
}



.hero {
  background-color: #86c3d7;
  position: relative;
  background-image: url(./../img/view.png);
  background-repeat: no-repeat;
  background-position: right;


  &::before {
    content: "";
    position: absolute;
    width: 650px;
    height: 112px;
    background: url(./../img/leaf-three.png) no-repeat;
    left: 3%;
    top: 92%;
  }

  &::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 341px;
  background: url(./../img/4-layers.png) no-repeat;
  left: 56%;
  bottom:-45px ;

  }
}



.hero__content {
  display: flex;
  height: 100%;
}