.hero__image-chocco {
  margin-top: -0.5625rem;
  margin-left: 3.6875rem;
}


.image-chocco__img {
  padding-left: 5rem;
  min-width: 100%;
  margin-top: -2.375rem;
}


.hero__img {
  @include tablets {
    background: url(./../img/bar-tablets.png) no-repeat;
    background-size: 50%, 65%;
  
  }
}
