.menu {
  width: 39.8125rem;

  @media (max-width: 950px) {
    width:32.8125rem ;
}
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}


.menu__list {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding: 0rem;
  justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}